@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary">Welcome to Vaccine Management</h1>
    <br />
    <div class="form-group">
        <p>
            <a class="btn btn-primary col-3" asp-controller="Vaccines" asp-action="Index">Vaccine Management</a>
            <div class="col2"></div>
            <a class="btn btn-primary col-3" asp-controller="Patients" asp-action="Index">Patient Management</a>
        </p>
    </div>
</div>
